:root
{
    --primary: #000000;
    --card: #D9D9D9;
    --button-buy: #FAFAFA;
    --phone: #EC1F1F;
    --black-text: #000000;  
}

html,body 
{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    max-width: 1440px;
    margin: 0 auto;

}   

.wrapper
{
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;
}
/* button */
.btn-menu
{   
    height: 34px;
    min-width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--button-buy);
}


.btn
{
    height: 25px;
    width: 99px;
    display: flex;
    justify-content: center;
    padding: auto;
    font-size: 16px;
}
/* end button */
